/* Global */
body {
    padding: 0;
    margin: 0;
    background-color: rgb(244, 244, 248);
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: 99.99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Public Sans', sans-serif;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.container1 {
    width: 35%;
    padding: 30px 30px;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

input {
    border: 1px solid hsl(192, 70%, 51%);
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
    width: 100%;
}

input::placeholder {
    text-align: center;
    font-size: 12px;
    color: #423535;
}

button {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    font-family: 'Public Sans', sans-serif;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: aliceblue;
}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

img[type="svg"]:hover {
    cursor: pointer;
    filter: invert(63%) sepia(71%) saturate(474%) hue-rotate(83deg) brightness(93%) contrast(92%);
}

p {
    margin-bottom: 8px;
    font-size: 12px;
}

.errorMessage {
    color: red;
    font-family: 'Public Sans', sans-serif;
    font-size: 12px;
    margin-top: 5px;
}
/*Main Heading*/
.main {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.main > h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main > h1 span {
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/*first name and last name*/
.name-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
}
.name-container > div {
    width: 40%;
}

/*email container*/
.emailContainer {
    margin-bottom: 20px;
    font-size: 18px;
}

.emailContainer > input {
    width: 100%;
}

/*password container*/
.password-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
}

.password-container > div {
    width: 40%;
}

.passwordGuidelines{
    margin-bottom: 20px;
}  

.passwordGuidelines > h4 {
    font-family: 'Public Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;

}

.passwordGuidelines > ul {
    font-family: 'Public Sans', sans-serif;
    font-size: 12px;
    font-weight: 200;
    padding: 5px 5px;
}
.passwordGuidelines > ul li {
    margin-bottom: 3px;
}

/*Terms and conditions*/
.terms-conditions {
    display: flex;
    justify-content: center;
    font-size: 12px;
}
.terms-conditions > input {
    width: 12px;
    height: 12px;
    margin: 0;
}
.terms-conditions > label {
    margin-left: 6px;
}

.alignmentCenter {
    text-align: center;
}

.create-button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    
}

.footer-para {
    display: flex;
    flex-direction: row;
    font-family: 'Public Sans', sans-serif;
    margin-bottom: 6%;
}
.footer-para:before, .footer-para:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid grey;
    margin: auto;
}

.footer-para:before {
    margin-right: 10px;
}

.footer-para:after {
    margin-left: 10px;
}
/*
Took this from stack to add text inbetween lines
h1 {
  display: flex;
  flex-direction: row;
}
h1:before, h1:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
h1:before {
  margin-right: 10px
}
h1:after {
  margin-left: 10px
}*/

.social-media-icon-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social-media-icon-container > img {
    width: 6%;
}
/* .container2 {
    width: 40%;
    padding: 2% 6%  2% 6%;
    background-color: rgb(32, 32, 231);
} */


.accountCreationStyling {
    background-color: #fff;
    font-family: 'Public Sans', sans-serif;
    color: hsl(136, 65%, 51%);
    font-size: 25px;
    height: 100px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.displayContent {
    display: none;
}